body,h1,h2,h3,h4,h5,h6 {font-family: NewsReader, sans-serif;}
/* Header and Navbar */
header{
    background-color: #6E0D25;
    color:white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #6E0D25;
    color:white;
    text-decoration: none;
    border: none;
}


.w3-dropdown-content {
    cursor: auto;
    color: white;
    background-color: #6E0D25;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.w3-button:hover{
    color:white!important;
    background-color:#80122d!important
}

.w3-dropdown-hover:hover > .w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{
    background-color:#80122d;
    color:white
}


.w3-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
  

}

.w3-input{
    margin-top: 20px;
    width: 50%;
    height: 10%;
}

.material-symbols-outlined{
    margin-top: 20px;
    
}

/* Products page */

.three-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;

    
}


.w3-card-4{
    width: 500px;
    height: auto;
}
.product_name{
    font-size: 20px;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

/* All images */
img{
    width: 100%;
    height: 100%;
}