{% extends "layout.html" %}
<!-- About Page -->
{% block body %}
<div class="w3-theme-d1 about-header">
    <h1>About Us!</h1>
</div>
<!-- First messsage -->
<div class="about-container1">
        <!-- Image  -->
    <div class="w3-display-container">
        <img src="https://images.unsplash.com/photo-1762008510357-90b8c10d53ea?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHNvbWV0aGluZyUyMHZpb2xpbnxlbnwwfHwwfHx8MA%3D%3D" alt="Violin on display" class="w3-image about-image">     
    </div>
    <!-- Message -->
    <div class="w3-container text-container w3-panel w3-leftbar w3-border-red">
        <!-- Heading -->
        <h2 class="mission-heading"><strong>Our Mission</strong></h2>                
        <p>This is an e-commerce business that sells Violins and accessories that are key when you get started with the instrument. The mission of this business is to make buying violins and buying key accessories easier for the customers. We hope to target those who are aiming to get an instrument and get those who want to get items for an instrument.</p>        
    </div>            
</div>
<!-- Second message -->
<div class="about-container2">  
    <!-- Message -->
    <div class="w3-container text-container w3-panel w3-leftbar w3-border-red">
        <!-- Heading -->
        <h2 class="mission-heading"><strong>Why Us?</strong></h2>                
        <p>We provide a few options of different price ranges for each essential item. Along with products only essential to learning and playing the Violin. Whether you are just starting, or you are a professional musician, we have the right items for you! <br> 
        So come and shop with us today!</p>        
    </div>
    <!-- Image -->
    <div class="w3-display-container">
        <img src="https://images.unsplash.com/photo-1697479895973-29c94e851046?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHNvbWV0aGluZyUyMHZpb2xpbnxlbnwwfHwwfHx8MA%3D%3D" alt="Violin on display" class="w3-image about-image">     
    </div>
</div>

       
      

{% endblock %}
