{% extends "layout.html" %}

{% block body %}
    <h1 class="cart-heading">Your Cart</h1>  
    <div class="w3-container cart-container">
        {% if result %}
            {% for item in result %}
                <div class="cart_items">
                    <img src="{{ item[3] }}" width="80" class="cart-image">              
                    <h3 class="cart-item-info">{{ item[1] }}</h3>          
                    <h3 class="cart-item-info">${{ item[2] }}</h3>  
                    <a href="{{url_for('remove_from_cart', id=item[0])}}" class="w3-button cart-button w3-theme">Remove</a>
                </div>
            {% endfor %}
            <h2>Total: ${{ total }}</h2>
        {% else %}
            <p class="empty">Your Cart is Empty.</p>
        {% endif %}
    </div>
   

{% endblock %}
