{% extends "layout.html" %}

{% block body %}
    <div class="w3-display-container w3-mobile">
        <img src="https://images.unsplash.com/photo-1576477210278-8f46836b1b5f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzB8fHZpb2xpbiUyMGluJTIwc2hvcHN8ZW58MHwwfDB8fHww" alt="Violins on display" class="w3-image">    
        <div class="w3-display-bottomleft w3-container">Get A Violin Today!</div> 
    </div> 
    <h1 class="product-header">Key Accessories</h1>
    <div class="three-column">
        {% for product in results %}        
            <div class="w3-card-4 ">
                <a href="{{ url_for('individ_products', id=product[0]) }}" class="product_name"> 
                    <h1 class="product_name">{{ product[1] }}</h1>
                    <div class="image-container">
                        <img src="{{ product[2] }}" alt="{{ product[1] }}">
                    </div>
                    <h2>${{ product[3] }}</h2>
                </a>                           
            </div>
        

        {% endfor %}
    </div>  

{% endblock %}
