<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=shopping_cart" />  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap">
    <title>Simple Strings</title>
</head>
<body >
    <!-- Shared Header Bar and Navbar -->   
    <header>
      <div class="w3-container">
        <h1>Simple Strings</h1>
        <form action="/search" method="POST">
          <input name="search" type="text" class="w3-bar-item w3-input search" placeholder="Search..">  
        </form>
        <a href="{{url_for('cart_view')}}"><span class="material-symbols-outlined">
          shopping_cart
        </span>
        </a>
      </div>
    
      <div class=" w3-bar navbar ">
          <a href="{{url_for('home')}}" class="w3-bar-item w3-button button ">Home</a>
          <a href="{{url_for('about')}}" class="w3-bar-item w3-button button ">About Us</a>
          <div class="w3-dropdown-hover">
            <button class="w3-button button ">Products</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
              <a href="{{url_for('products')}}" class="w3-bar-item w3-button button">All products</a>
              <a href="{{url_for('violin')}}" class="w3-bar-item w3-button button ">Violins</a>
              <a href="{{url_for('rosin')}}" class="w3-bar-item w3-button button">Rosin</a>
              <a href="{{url_for('case_and_shoulder_rest')}}" class="w3-bar-item w3-button button ">Cases and Shoulder rests</a>              
              <a href="{{url_for('string')}}" class="w3-bar-item w3-button button ">Strings</a>           
          </div>
          
        </div>
    </header>
    <main>
      {% block body %}
      {% endblock %}
    </main>
    <!-- Shared footer -->
    <footer>
      <div class="w3-container w3-theme-d3">
        <div class="three-column">
          <a href="{{url_for('home')}}" class="w3-bar-item w3-button button ">Home</a>
          <a href="{{url_for('about')}}" class="w3-bar-item w3-button button ">About Us</a>        
          <a href="{{url_for('rosin')}}" class="w3-bar-item w3-button button">Rosin</a>
          <a href="{{url_for('case_and_shoulder_rest')}}" class="w3-bar-item w3-button button ">Cases and Shoulder rests</a>
          <a href="{{url_for('violin')}}" class="w3-bar-item w3-button button ">Violins</a>
          <a href="{{url_for('string')}}" class="w3-bar-item w3-button button ">Strings</a>
        </div>
      </div>
    </footer>
</body>
</html>