{% extends "layout.html" %}

{% block body %}
<h1 class="product-header">All Products</h1>
<div class="three-column">        
    {% for product in results %}
        <a href="{{ url_for('individ_products', id=product[0])}}" class="product_name">             
            <div class="w3-card-4">
                    
                    <h1 class="product_name">{{ product[1] }}</h1>
                    <div class="image-container">
                        <img src="{{ product[2] }}" alt="{{ product[1] }}" >
                    </div>
                    <h2>${{ product[3] }}</h2>                
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}
